.App {
  text-align: center;
}

:root {
  --background: #ffffff;
  --text: #000000;
}

[data-theme="dark"] {
  --background: #1a1a1a;
  --text: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
}

